* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    width: 100%;
    background-color: #05212d;

  }
  .head-line{
    width:100%;
    display: flex; 
    justify-content:center;
    align-items:center;
    font-size: 35px;
  } 
  .width90{
    width:90%;
  }
  .width30{
    width:60%;
  }
  .on-line{
    
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px;
    
    display: flex; 
    justify-content:center;
    align-items:center;
  }
  .on-col{
    flex-direction: column;
    display: flex; 
    justify-content:space-between;
    align-items:center;

  }
  .button{
    
    align-content: center;
    border: 2px solid silver;
    color:silver;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    width:12%;
    font-size: 20px;

  }
  .height{
    height: 150px;
  }
  .row{
    display: flex; 
    justify-content:space-around;
    align-items:flex-start;
    padding-top: 10px;
    font-size: large;
    color:darkcyan;
  }

  .primary-color{
    font-weight: bold;
    color:silver;
  }
.transaction-table {
    border-radius: 20px;
    color: silver;
    width: 80%  ;
    border-collapse: collapse;
}
th, td {
    
  border-bottom: 2px solid silver;
  border-radius: 20px;
    border-color: silver;
    padding: 8px;
    text-align:center;
    width: 10%;
    height: 50px;
}
th {
    
    background-color: #05212d;
}
.center{
  display: flex; 
    justify-content:center;
    align-items:center;
}
.inputs{
  width:60%;
  
  background-color: silver;
}