* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    width: 100%;
    background-color: #ddddddd0;
  }
  .head-line{
    width:100%;
    display: flex; 
    justify-content:center;
    align-items:center;
    font-size: 35px;
  } 
  .transactions{
    border:2px;
    border-radius: 10px;
    border-color: darkcyan;
    margin:10px;
    padding: auto;
    width:80%;
    flex-direction: column;
    display: flex; 
    justify-content:space-between;
  }
  .transaction-title{
    display: flex; 
    justify-content:space-between;
    align-items:flex-end;
    font-size: 25px;
  }
  .on-line{
    width:90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px;
    padding: auto;
    display: flex; 
    justify-content:space-around;
    align-items:center;
  }
  .on-col{
    flex-direction: column;
    display: flex; 
    justify-content:space-between;
    align-items:flex-start;

  }
  
  .transaction-box{
    margin: 10px;
    border:10px;
    border-radius: 10px;
    border-color: darkcyan;
    
    flex-direction: column;
    display: flex; 
    justify-content:space-evenly;
    align-items:flex-start;
  }
  .button{
    border-color: darkcyan;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    width:30%;
    height:50px;
    font-size: 20px;

  }
  .append{
    flex-direction: column;
    display: flex; 
    justify-content:space-around;
    align-items:flex-start;
  }
  .row{
    display: flex; 
    justify-content:space-around;
    align-items:flex-start;
    padding-top: 10px;
    font-size: large;
    color:darkcyan;
  }
  .section{
    margin: 30px;
    flex-direction: column;
    display: flex; 
    justify-content:space-between;
    align-items:center;

  }
  .primary-color{
    font-weight: bold;
    color:darkcyan;
  }